$color-example: #ff0000;
$fontsize-example: 16px;
$white: #fff;
$white_smoke: #f5f5f5;
$gray_desertstorm: #ece9e6;
$gray_gainsboro: #dddddd;
$gray_nobel: #999999;
$orange_zorba: #a19283;
$orange-bistre: #442606;
$black_50: rgba(0, 0, 0, 0.5);
$black: #000;
$XS: 12px;
$S: 14px;
$M: 16px;
$L: 20px;
$XL: 36px;
$XXL: 40px;
$fontfamily-mincho: "Noto Serif JP";
$fontfamily-gothic: "Noto Sans JP";
$small: 576px;
$medium: 768px;
$large: 992px;
$extralarge: 1200px;
